body {
    background-color: antiquewhite;
}

.keret {
    border-style: dashed;
    background-color: aquamarine;
    font-family: Verdana;
    box-shadow: 3px 3px 7px gray;
    text-transform: capitalize;
    width: auto;
    height: auto;
    font-size: 20px;
    margin-left: 7px;
    padding-left: 10px;
}

.cimsor {
    font-size: 40px;
    margin-bottom: 20px;
}
audio{
    width: 20%;
    height: auto;
}
